  /* if desktop */

  .mobile_device_480px {
      display: none;
  }

  /* if mobile device max width 480px */

  @media only screen and (max-device-width: 780px) {
      .mobile_device_480px {
          display: block;
      }

      .desktop {
          display: none;
      }
  }

  a {
      padding-top: 1vh;
      padding-bottom: 5vh;
      font-size: 3vh;
      text-decoration: none
  }

  /* unvisited link */

  a:link {
      color: #ff1414;
  }

  /* visited link */

  a:visited {
      color: #ff1414;
  }

  /* mouse over link */

  a:hover {
      color: #ff1414;
  }

  /* selected link */

  a:active {
      color: ff1414;
  }



  /* DESKTOP RULES */

  * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      font-size: 2vw;
      cursor: url("../assets/cursor.png"), auto;
  }

  .main {
      display: block;
      background-image: url("assets/sky.gif")
  }

  html * {
      font-family: 'Scheherazade', serif;
      color: white;
  }

  p1 {
      font-size: 15px;
  }

  enter {
      font-size: 2vh;
  }

  <<<<<<< HEAD


  html * {
      font-family: 'Scheherazade', serif;
  }

  body {
      background-color: transparent;
      height: 100vh;
  }

  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .skull {
      width: 10vh;
      padding-top: 10px;
      padding-left: 5px;
      position: absolute;
  }

  #imglogo {
      width: 30vh;
  }

  #store_grid {
      padding-top: 10vh;
      margin: auto;
      width: 40%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-flow: column;
  }

  .grid-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .grid-item {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
  }

  .grid-item img {
      max-width: 225px;
      min-width: 225px;
  }

  .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      margin-top: 40px;
  }

  .store_nav_bar {
      width: 20%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
  }

  .storelogo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
  }


  /* MOBILE */

  .skull_mob * {
      margin-bottom: 125px;
      width: 35vw;
  }

  #mobimg {
      position: absolute;
      width: 56%;
      padding-top: 20px;
  }

  #header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  #mob_header {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  #header-container {
      position: absolute;
  }

  .button {
      padding-top: -10vh;
  }

  #store {
      position: absolute;
      left: 0;
      right: 0;
      top: 150%;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding-top: 16vh;
      display: none;
      overflow: scroll;
  }

  .item_container {
      padding: 3vh;
  }

  .item_container > * {
      display: block;
      height: auto;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
  }

#background {
    display: block;
    position: fixed;
    height: 100%;
    width: auto;
    z-index: -5;
}
